@charset "UTF-8";
.container:after {
  clear: both
}

a {
  background-color: transparent;
  color: #0275d8;
  text-decoration: none
}

.list-group-item,
body {
  background-color: #fff
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

@-ms-viewport {
  width: device-width
}

@viewport {
  width: device-width
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c
}

h3 {
  margin-top: 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-bottom: .5rem;
  font-size: 1.75rem
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: .9375rem;
  padding-left: .9375rem
}

.container:after,
.container:before {
  display: table;
  content: " "
}

@media (min-width:34em) {
  .container {
    max-width: 34rem
  }
}

@media (min-width:48em) {
  .container {
    max-width: 45rem
  }
}

@media (min-width:62em) {
  .container {
    max-width: 60rem
  }
}

@media (min-width:75em) {
  .container {
    max-width: 72.25rem
  }
}

.list-group {
  padding-left: 0;
  margin-bottom: 0
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -.0625rem;
  border: .0625rem solid #ddd
}

.list-group-item:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem
}

a.list-group-item {
  width: 100%;
  color: #555;
  text-align: inherit
}

a.list-group-item:hover {
    background-color: #ffa314;
    color: white;
}